.add_board
    display: flex
    justify-content: center
    margin-top: 50px

.add_board_form
    position: absolute
    top: 110px
    width: 200px
    height: 100px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: 10px
    visibility: hidden
    opacity: 0
    transition: 0.5s all linear

    &.active
        visibility: visible
        opacity: 1

    // button
    //     width: 100px
    //     height: 30px
    //     margin-top: 5px




