.collection
  overflow: visible

.add_list
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  padding: 10px

  .add_list_container
    padding: 20px

.add_list_content
    width: 270px
    height: 100px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: 10px
    visibility: hidden
    opacity: 0
    transition: 0.5s all linear

    &.active
        visibility: visible
        opacity: 1

    a
        width: 100px
        height: 30px
        line-height: 30px

.add_list_btn
    width: 270px
    height: 42px
    font-size: 18px
    line-height: 42px

.item_content
  width: 300px 
  margin-right: 7px
  padding: 10px

  .collection-header
    span
      font-size: 20px 

  .input-field
    display: none

    &.active
      display: block
  a
    display: block

    &.no_active
      display: none

  .btn_container
    padding: 5px    
    display: none
    justify-content: space-between
    align-items: center

    &.active
      display: flex

    .add_item_btn
      width: 100px
      height: 40px

      border-radius: 10px

    i
      
    

  .items_container
    display: flex
    flex-direction: column
    background: white

    span
      display: block
      max-width: 270px
      border-bottom: 1px solid black
      padding: 5px

    
.task_service
    position: absolute
    top: 0px
    z-index: 3
    display: none
    width: 280px
    left: -30px
    top: -10px
    border: 5px solid rgba(205, 255, 250, 1)
    box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.75)
    border-radius: 2px
    background: linear-gradient(to right, #4ac29a, #bdfff3)

    &.active
      display: block

    textarea
      background: white
      padding-left: 30px
      padding-right: 30px
      width: 210px

.service_container
    position: absolute
    top: 0px
    left: 295px
    


.item_wrapper
    position: relative

.back_lay
    background-color: rgba(0, 0, 0, 0.6)
    width: 100%
    height: 2000px
    overflow: hidden
    position: fixed
    top: -900px
    left: 0px
    z-index: 2
    display: none

    &.active
      display: block
